In [22]:
import pandas as pd

In [23]:
data = {
    "Weight": [2, 4, 5, 3, 6, 5, 7],
    "Price": [35, 60, 20, 50, 50, 55, 60]
}
df = pd.DataFrame(data)

In [24]:
n = len(df)
sum_x = df["Weight"].sum()
sum_y = df["Price"].sum()
sum_xy = (df["Weight"] * df["Price"]).sum()
sum_x2 = (df["Weight"] ** 2).sum()

# Task 01

In [25]:
M = (n * sum_xy - sum_x * sum_y) / (n * sum_x2 - sum_x ** 2)
C = (sum_y - M * sum_x) / n

In [26]:
print(M)

2.620967741935484

In [27]:
print(C)

35.16129032258065

### Predict the price when value is 6.50

In [28]:
predicted_value = M * 6.50 + C

In [29]:
print(predicted_value)

52.197580645161295

# Task 02

In [30]:
all_predict = df["Weight"] * M + C
df["Residual"] = df["Price"] - all_predict

In [31]:
print(df)

   Weight  Price   Residual
0       2     35  -5.403226
1       4     60  14.354839
2       5     20 -28.266129
3       3     50   6.975806
4       6     50  -0.887097
5       5     55   6.733871
6       7     60   6.491935

# Task 3

In [32]:
MSE = (df["Residual"] ** 2).mean()
MAE = df["Residual"].abs().mean()

In [33]:
print(MSE)

167.30990783410135

In [34]:
print(MAE)

9.87327188940092

In [35]:
display(df)

   Weight  Price   Residual
0       2     35  -5.403226
1       4     60  14.354839
2       5     20 -28.266129
3       3     50   6.975806
4       6     50  -0.887097
5       5     55   6.733871
6       7     60   6.491935

# Task 4

In [37]:
df.to_excel("linear_regression_results.xlsx")